@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


:root {
  --primary:#662671;
  --body-font: 16px;
  --heading-font:24px;
  --body-gray:#8F8F8F;
}

@theme inline {
  --color-primary: var(--primary);
  --color-gray:var(--body-gray);
  --text-body: var(--body-font);
  --text-heading:var(--heading-font);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,body {
  font-family:  "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: auto;
}
